@use '../abstracts' as *;

.board {
    display: grid;
    max-width: rem(460px);
    margin-top: rem(80px);
    @extend %margin-auto;
    &.-fourByFour {
        grid-template-columns: repeat(4, 1fr);
        gap: rem(12px);
        @include mq(medium) {
            max-width: rem(532px);
            margin-top: rem(157px);
            gap: rem(20px);
        }
        @include mq(large) {
            margin-top: rem(105px);
        }
    }
    &.-sixBySix {
        grid-template-columns: repeat(6, 1fr);
        gap: rem(9px);
        @include mq(medium) {
            max-width: rem(572px);
            margin-top: rem(121px);
            gap: rem(16px);
        }
        @include mq(large) {
            margin-top: rem(85px);
        }
    }
}