@use '../abstracts' as *;

.main-menu {
    width: calc(100% - rem(48px));
    max-width: rem(654px);
    height: rem(386px);
    margin: 0 auto;
    background-color: $primary-color;
    @extend %br-10;
    @include mq(medium) {
        height: rem(559px);
    }
    @include mq(large) {
        
    }
}