@use '../abstracts' as *;

.multiplayerTracker {
    display: flex;
    justify-content: space-between;
    gap: rem(24px);
    max-width: rem(460px);
    margin-top: rem(102px);
    @extend %margin-auto;
    @include mq(medium) {
        gap: rem(11px);
        max-width: rem(689px);
        margin-top: rem(126px);
    }
    @include mq(large) {
        gap: rem(30px);
        max-width: rem(1110px);
        margin-top: rem(112px);
    }
}



.player {
    position: relative;
    width: 100%;
    background-color: $primary-btn-color;
    border-radius: rem(5px);
    text-align: center;
    padding: rem(10px) rem(13px) rem(9px) rem(14px);
    @include mq(medium) {
        padding: rem(14px) rem(16px) rem(12px);
        border-radius: rem(10px);
        text-align: left;
    }
    @include mq(large) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(17px) rem(24px) rem(15px) rem(21px);
     }

    &__mobileHeader {
        margin-bottom: rem(2px);
        color: $primary-text-color;
        @include mq(medium) {
           display: none;
        }
    }
    &__header {
        display: none;
        color: $primary-text-color;
        @include mq(medium) {
            display: block;
            margin-bottom: rem(5px);
         }
    }
    &__subheader {
        color: $secondary-dark-color;
    }
}




.tracker {
    background-color: $primary-btn-color;
    &__header {
        color: $primary-text-color;
    }
    &__subheader {
        color: $secondary-dark-color;
    }
}

