@use '../abstracts' as *;

*, 
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: $primary-dark-color;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    margin: rem(80px) auto rem(45px);
    color: $primary-color;
    text-align: center;
    @include mq(medium) {
        margin-top: rem(169px);
        margin-bottom: rem(78px);
    }
    @include mq(large) {
        margin-top: rem(154px);
    }
}

button {
    padding: 0;
}