@use '../abstracts' as *;

*, 
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background-color: $secondary-color;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1 {
    color: $primary-color;
    margin: rem(80px) auto 0;
    text-align: center;
    font-size: rem(32px);
    line-height: rem(40px);
    @include mq(medium) {
        margin-top: rem(169px);
        font-size: rem(40px);
        line-height: rem(50px);
    }
    @include mq(large) {
        margin-top: rem(154px);
    }
}