@use '../abstracts' as *;

.text4x4 {
    font-size:   rem(40px);
    line-height: rem(50px);
    @include mq(medium) {
        font-size:   rem(56px);
        line-height: rem(69px);
    } 
}

.text6x6 {
    font-size:   rem(24px);
    line-height: rem(30px);
    @include mq(medium) {
        font-size:   rem(44px);
        line-height: rem(55px);
    } 
}

.text-6xl {
    font-size:   rem(32px);
    line-height: rem(40px);
    @include mq(medium) {
        font-size:   rem(40px);
        line-height: rem(50px);
    }
}

.text-5xl {
    font-size:   rem(24px);
    line-height: rem(30px);
    @include mq(medium) {
        font-size:   rem(48px);
        line-height: rem(60px);
    }
}

.text-4xl {
    font-size:   rem(24px);
    line-height: rem(30px);
    @include mq(large) {
        font-size:   rem(32px);
        line-height: rem(40px);
    }
}

.text-3xl {
    font-size:   rem(24px);
    line-height: rem(30px);
    @include mq(medium) {
        font-size:   rem(32px);
        line-height: rem(40px);
    }
}

.text-2xl {
    font-size:   rem(20px);
    line-height: rem(25px);
    @include mq(medium) {
        font-size:   rem(32px);
        line-height: rem(40px);
    }
}

.text-xl {
    font-size:   rem(18px);
    line-height: rem(22px);
    @include mq(medium) {
        font-size:   rem(32px);
        line-height: rem(40px);
    }
}

.text-lg {
    font-size:   rem(18px);
    line-height: rem(22px);
    @include mq(medium) {
        font-size:   rem(20px);
        line-height: rem(25px);
    }
}

.text-md {
    font-size:   rem(16px);
    line-height: rem(20px);
    @include mq(medium) {
        font-size:   rem(26px);
        line-height: rem(32px);
    }
}

.text-sm {
    font-size:   rem(15px);
    line-height: rem(19px);
    @include mq(medium) {
        font-size:   rem(20px);
        line-height: rem(25px);
    }
}

.text-xs {
    font-size:   rem(15px);
    line-height: rem(19px);
    @include mq(large) {
        font-size:   rem(18px);
        line-height: rem(22px);
    }
}

.text-2xs{
    font-size:   rem(15px);
    line-height: rem(19px);
    @include mq(medium) {
        font-size:   rem(18px);
        line-height: rem(22px);
    }
}

.text-3xs {
    font-size:   rem(14px);
    line-height: rem(17px);
    @include mq(medium) {
        font-size:   rem(18px);
        line-height: rem(22px);
    }
}

.text-4xs {
    font-size:   rem(13px);
    line-height: rem(16px);
    @include mq(medium) {
        font-size:   rem(18px);
        line-height: rem(22px);
    }
}

.triangle {
    top: rem(-8px);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 rem(8px) rem(8px) rem(8px);
    border-color: transparent transparent $primary-accent-color transparent;
    @include mq(medium) {
        top: rem(-14px);
        border-width: 0 rem(14px) rem(14px) rem(14px);
    }
    @include mq(large) {
        top: rem(-19px);
        border-width: 0 rem(19px) rem(19px) rem(19px);
    }
}

.currentTurn {
    display: none;
    position: absolute;
    bottom: rem(-23px);
    font-size: rem(13px);
    line-height: rem(16px);
    letter-spacing: rem(5px);
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include mq(large) {
        display: initial;
    }
}