/********************** Color Variables **********************/
$primary-color:          #FCFCFC;
$primary-text-color:     #7191A5;
$primary-dark-color:     #152938;
$secondary-dark-color:   #304859;
$primary-accent-color:   #FDA214;
$secondary-accent-color: #DFE7EC;
$primary-btn-color:      #BCCED9;
$primary-hover-color:    #6395B8;
$secondary-hover-color:  #FFB84A;

/********************** Convert Pixes to Rems Function **********************/
@function rem($size) {
    @return calc($size / 16px * 1rem);
}

/********************** Media Querie Mixins **********************/
@mixin mq($break) {
    @if $break == "medium" {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $break == "large" {
        @media (min-width: 1440px) {
            @content;
        }
    }
}

/********************** Margin Placeholders **********************/
%margin-auto {
    margin: 0 auto;
}

/********************** Border Radius Placeholders **********************/
%br-10 {
    border-radius: rem(10px);
}
%br-26 {
    border-radius: rem(26px);
}

/********************** Flexbox Placeholders **********************/
%flex {
    display: flex;
}

%flex-ai-c {
    align-items: center;
}

%flex-jc-sb {
    justify-content: space-between;
}

%flex-jc-sa {
    justify-content: space-around;
}

%flex-jc-c {
    justify-content: center;
}

%flex-d-r {
    flex-direction: row;
}

%flex-d-c {
    flex-direction: column;
}

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}